.reset-password-container {
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.reset-password-background {
    background-color: white;
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.reset-password-button {
    text-align: center;
    padding: 10px;
    border: solid 3px black;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
}

.reset-password-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}