.car-list-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e3e6ef;
    margin-bottom: 20px;
}

#scroller-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    scrollbar-width: none;
}

#not-found-container {
    display:flex;
    justify-content: center;
    background-color: #e3e6ef;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.ad-box {
    position: relative;
    flex: 0 0 auto;
    height: 500px;
    width: 300px;
    margin: 20px;
    transition: transform ease-in-out 0.2s;
    background-color: whitesmoke;
    border-radius: 10px;
}

#scroller-container::-webkit-scrollbar {
    display: none;
}

.ad-box:hover {
    transform: scale(1.05); 
    /* cursor: pointer; */
}

.ad-image {
    width: 100%;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

#not-found-img {
    width: auto;
    height: 500px;
}

.sliders {
    transition: transform ease-in-out 0.2s;
    color: rgba(0, 0, 0, 0.5);
}

.sliders:hover {
    transform: scale(1.3);
    color: rgba(0, 0, 0, 1);
}

.car-info {
    padding: 20px;
    padding-top: 0px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info-container {
    display:flex;
}

.info-title{
    position: relative;
    flex: 1;
}

.title-text {
    position: absolute;
    bottom: 0;
}

.car-name {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    margin-bottom: 10px;
}

#brand-container, #model-container, #generation-container {
    position: relative;
    height: 30px;
    width: 100%;
}

#brand-container {
    font-size: 25px;
    font-weight: 800;
}

#model-generation-container {
    margin-top: auto;
    margin-right: 5px;
    font-size: 15.5px;
}

#generation {
    margin-top: auto;
    margin-left: 5px;
    font-size: 15px;
}

#price, #kilometrage, #year, #country, #fuelType {
    flex: 1;
    font-size: 11px;
}

.view-details-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-details-button {
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    background-color: black;
    border: solid 3px black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}

.view-details-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}